.contenedor_nosotros {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 20px;
    margin-top: 3%;
    z-index: 4;
  }

.container {
  display: flex;
  flex-direction: column;
  background-color: #bc3232;
  height: calc(100vh - 12vh);
  align-items: center;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 0;
  padding: 0;
  z-index: 2;
}

.container::before {
  content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/public/patron_azteca3.jpeg');
    filter: blur(1px);
    z-index: 0;
    animation: moveBackground 90s linear infinite;
}


@keyframes moveBackground {
  0% {
    background-position: 0 0;
  }
  
  100% {
    background-position: 100% 100%;
  }
  }
  




.body_index2 {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background-color: #28361895;
  z-index: 3;
}

.title{
  width: 60%;
  height: 10vh;
  background-color: #DAD7CD;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-size: 1em;
  border-radius: 15px;
  display: flex;
  margin-top: 2%;
  z-index: 4;
}