@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Varela Round', sans-serif;
}

header {
    background-color: #344E41;
    color: white;
    padding: 10px;
    display: flex;
    align-items: center;
    font-size: 20px;
    height: 100px;
}

.header-title a:hover, .menu-icon a:hover {
    opacity: 0.7;
}

.header-content a:hover {
    color: #7fff00;
} 

.header-title {
    flex-grow: 1;
}

.header-content {
    display: flex;
    align-items: center;
}

nav ul {
    list-style-type: none;
    display: flex;
    margin: 0;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

.menu-icon {
    height: 100px;
    width: 100px;
}

.menu-icon img {
    width: 100%;
    height: 100%;
}

.header-title {
    height: 40px;
}

.header-title img {
    width: 11%;
    height: 100%;
}

.mapadiv {
    width: 40%;
    margin: auto;
    display: block;
}

.mapadiv path {
    fill: #F0E68C;
    stroke: #8B4513;
    stroke-width: 2px;
}

.mapadiv :hover {
    fill: #FFD700;
}

.title-index{
    text-align: center;
    margin-top: 20px;
}

.main-description{
    text-align: center;
    margin-top: 20px;
}

.post-body-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 100px);
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: cornsilk;
    width: 50%;
}

.title-index, .main-description {
    width: auto;
    margin: 0 auto;
}

.title-index {
    font: bold;
    font-size: 2.5em;
    color: #344E41;
}

.body-index{
    background-image: url("https://mexicobusiness.news/sites/default/files/styles/crop_16_9/public/2021-08/power-plant-67538_1280%20%281%29.jpg?h=2475ff28&itok=3vVBOIgV");
    background-size: cover;
}

.gradient-border {
  --border-width: 8px;
  position: relative;
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  background: #DAD7CD;
  border-radius: var(--border-width);

  &::after {
    position: absolute;
    content: "";
    top: calc(-1 * var(--border-width));
    left: calc(-1 * var(--border-width));
    z-index: -1;
    width: calc(100% + var(--border-width) * 2);
    height: calc(100% + var(--border-width) * 2);
    background: linear-gradient(
      60deg,
      hsl(195, 100%, 50%),
      hsl(54, 100%, 50%),
      hsl(120, 100%, 40%),
      hsl(90, 100%, 50%),
      hsl(134, 100%, 25%),
      hsl(145, 100%, 30%),
      hsl(54, 100%, 50%),
      hsl(195, 100%, 50%),
      hsl(200, 100%, 70%)
    );
    background-size: 300% 300%;
    background-position: 0 50%;
    border-radius: calc(2 * var(--border-width));
    animation: moveGradient 4s alternate infinite;
  }
}

@keyframes moveGradient {
  50% {
    background-position: 100% 50%;
  }
}

.map-tetuan {
    width: 40%;
    margin: auto;
    display: block;
}

.map-tetuan path {
    fill: #F0E68C;
    stroke: #8B4513;
    stroke-width: 5px;
}

.map-tetuan :hover {
    fill: #FFD700;
}

.title-prediction-ef {
    font-size: 30px;
    color: #344E41;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.titulo-nosotros {
    text-align: center;
    font-size: 2.5em;
    margin: 20px 0;
}

.parrafo-nosotros {
    text-align: center;
    font-size: 1.2em;
    margin: 20px;
}

.contenedor-nosotros {
    display: flex;
    justify-content: center;
    width: 100%;
}

.columna-nosotros {
    flex: 1;
    text-align: center;
}

.card {
    width: 23.5vw;;
    height: 63vh;
    margin: 0 auto;
    background-color: #DAD7CD;
    border-radius: 8px;
    z-index: 1;
   }
   
   .tools {
    display: flex;
    align-items: center;
    padding: 9px;
   }
   
   .circle {
    padding: 0 4px;
   }
   
   .box {
    display: inline-block;
    align-items: center;
    width: 10px;
    height: 10px;
    padding: 1px;
    border-radius: 50%;
   }
   
   .red {
    background-color: #ff605c;
   }
   
   .yellow {
    background-color: #ffbd44;
   }
   
   .green {
    background-color: #00ca4e;
   }
   
   .card__content{
    display: flex;
    flex-direction: column;
    align-items: center;
   }

   .imagenes-team {
    width: 90%;
    height: 300px;
   }

   .imagenes-team img {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    border: 2px solid #344E41;
   }

   .names-team {
    margin-top: 10px;
   }
  
  .redes-sociales {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.social-card {
    width: fit-content;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 25px;
    margin-top:10px;
    gap: 20px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.055);
  }
  
  .socialContainer {
    width: 52px;
    height: 52px;
    background-color: rgb(44, 44, 44);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition-duration: .3s;
  }
  /* instagram*/
  .containerOne:hover {
    background-color: #A9A9A9;
    transition-duration: .3s;
  }
  /* twitter*/
  .containerTwo:hover {
    background-color: #00acee;
    transition-duration: .3s;
  }
  /* linkdin*/
  .containerThree:hover {
    background-color: #ed3013;
    transition-duration: .3s;
  }
  /* Whatsapp*/
  .containerFour:hover {
    background-color: #128C7E;
    transition-duration: .3s;
  }
  
  .socialContainer:active {
    transform: scale(0.9);
    transition-duration: .3s;
  }
  
  .socialSvg {
    width: 17px;
  }
  
  .socialSvg path {
    fill: rgb(255, 255, 255);
  }

  .img-social-card {
    width: 45%;
    height: 45%;
  }
  
  .socialContainer:hover .socialSvg {
    animation: slide-in-top 0.3s both;
  }
  
  @keyframes slide-in-top {
    0% {
      transform: translateY(-50px);
      opacity: 0;
    }
  
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  